body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #4d628a;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  
}

.navbar h1 {
  margin: 0;
}

.product-list {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}

.hits-container {
  display: grid; /* Utiliza diseño de cuadrícula */
  grid-template-columns: repeat(auto-fit, minmax(2, 1fr)); /* Columnas flexibles */
  gap: 20px; /* Espaciado entre elementos */
  padding: 20px; /* Espaciado alrededor de la cuadrícula */
  background-color: #f9f9f9; /* Fondo opcional para el contenedor */
  border-radius: 8px; /* Bordes redondeados para el contenedor */
  
}

.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  margin-left: 30%;
  width: 30%;
}

.product-image {
  width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
  height: 400px; /* Altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen se recorte adecuadamente si es más grande */
  margin-bottom: 10px;
  border-radius: 8px; /* Bordes redondeados para las imágenes */
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-card p {
  color: #555;
  font-weight: bold;
}

/* Responsividad: Una sola columna en pantallas más pequeñas */
@media (max-width: 768px) {
  .hits-container {
    grid-template-columns: 1fr; /* Solo una columna */
  }
}
.search-box input {
  width: 50%; /* Ancho completo */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 8px; /* Bordes redondeados */
  font-size: 1rem; /* Tamaño de fuente */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  outline: none; /* Quitar borde de enfoque */
  margin-bottom: 10px;
  margin-left: 22%;
}

.search-box input:focus {
  border-color: #007bff; /* Color del borde al enfocar */
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Resaltar enfoque */
}

.search-box button {
  background-color: #007bff; /* Color de fondo */
  border: none; /* Sin bordes */
  color: #fff; /* Color del texto */
  padding: 10px 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar cursor a mano */
  font-size: 1rem; /* Tamaño de fuente */
}

.search-box button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}
