body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.navbar h1 {
  margin: 0;
}

.product-list {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 1rem;
}


.hits-container {
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
  gap: 20px; 
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.product-card {
  background: #fff; 
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  margin-right: 49px;
}


.product-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  border-color: #007bff; 
}


.product-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin-bottom: 10px;
}


.product-card h3 {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
  font-weight: bold;
}


.product-card p {
  color: #007bff;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}


.black-friday-title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff3e3e;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.search-box {
  display: flex;
  justify-content:end;
  margin-bottom: 20px;
  
}

.search-box input {
  width: 60%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease, box-shadow 0.3s ease;
  margin-left: 50px;
}

.search-box input:focus {
  border-color: #007bff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.search-box button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 12px 20px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.search-box button:hover {
  background-color: #0056b3;
}

/* Responsividad: Una columna en pantallas pequeñas */
@media (max-width: 768px) {
  .hits-container {
    grid-template-columns: 1fr; /* Una sola columna */
  }

  .search-box input {
    width: 70%; /* Ajustar barra de búsqueda en pantallas pequeñas */
  }
}

